
.service-block{
    color:#fff;
    h3{
        font-size:21px;
        line-height: 40px;
        text-transform: uppercase;
    }
    p{
        font-size: 16px;
		line-height: 27px;
    }
    &--purple{
        background: $purple-ex
    }
    &--blue{
        background: $blue-ex
    }
    &--pink{
        background: $pink-ex
    }
}