#footer{
  color:#fff;
  h5{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
  }
  ul{
    margin:0;
    padding: 0;
    list-style: none;
    li{
      font-size: 16px;
      a{
        color: #fff;
      }
    }
  }

  .social-links{
    &__item{
      img{
        border-radius: 33px;
      }
      
    
    }
    
  }
}