//Navigation
.navbar-light{ 
  .container{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: black;
      bottom: -24px;
    }
  } 
  .navbar-nav{   
    .nav-item{
      &.active{
        .nav-link{
          color: #dd115e;
        }
      }
    }
    .nav-link{
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #353535;
      transition: color 0.2s linear;
    
      &:hover{
        color: #dd115e;
      }   
    }
  }
}

@include respond-below(xs) {
  .navbar-light{
    .navbar-brand{
      width: 75% !important;
    }
  }  
}
@include respond-below(md) {
  .navbar-light{
    .navbar-brand{
       width: 30% ;
    }
    .navbar-nav{
      .nav-link{
        font-size:12px;
        letter-spacing: 1px
      }
    }
  }
}
@include respond-below(lg) {
  .navbar-light{
    .navbar-nav{
      .nav-link{
        font-size:13px;
        letter-spacing: 1px
      }
    }
  }
}

  


