#main{
  margin-top:70px;
  overflow: hidden;

  .btn{
    position: relative;
    display: inline-block;
    color:#fff;
    border: 1px solid #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width:100%;
    padding: 10px;
    border-radius: 0;
    text-transform: uppercase;
    &:after{
      content:'';
      position: absolute;
      bottom:0;
      background: #fff;;
      left:0;
      right:0;
      width:100%;
      height: 0px;
      transition: height 0.1s ease-in-out;
    }
    &:hover{
      color: #fff;
      &:after{
        height: 3px;
      }
    }
  }
}

@include respond-below(xs) {
  #main{
    padding-left: 30px!important;
    padding-right: 30px !important;
  } 
}
