//Custom variables
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
// Descriptive color variables
$blue-ex : #003f95;
$pink-ex : #dd115e;
$purple-ex: #1f0536;
// Functional color variables


// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';



