/*Slick Slider */

* { 
	outline: none !important;
  }
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
  	.slick-list {
		position: relative;
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;

		&:focus{
      		outline: none;
    	}
		.dragging {
			cursor: pointer;
			cursor: hand;
		}
  	}
}
.slick-slider {
  	.slick-track,.slick-list{
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
  	}
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;

	&:before,&:after{
		display: table;
		content: '';
	}

	&:after{
		clear: both;
	}
}
.slick-loading  {
	.slick-track{
		visibility: hidden;
	} 
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	img {
		display: block;
	}
	.slick-loading{
		img{
			display: none;
		}
		.slick-slide{
			visibility: hidden;
		}
	}
	.dragging{
		img{
			pointer-events: none;
		}
	}
}
[dir='rtl'] .slick-slide {
  	float: right;
}
.slick-initialized {
	.slick-slide {
  		display: block;
	}
}
.slick-vertical {
	.slick-slide {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
#home{
	&.ct-header,&.ct-header--slider{
		background-size: cover;
	}
}
.ct-header {
	.ct-slick {
  		margin-bottom: 0;
	}
	&__text-wrap{
		padding: 40px 45px 40px 30px ;
		background: $blue-ex;
	}
	h2{
		color:white;
		font-size:35px;
		line-height: 40px;

	}
	p{
		font-size: 18px;
		line-height: 27px;
		color:white;
	}
}
.slick-initialized {
	.slick-slide {
  	display: block;
	}
}
.ct-u-display-flex {
  width: 100%;
  height: 590px;
}
 
.ct-slick {
	.slick-track,
	.slick-list,
	.item,
	.slick-item{
		min-height: inherit;
	}
	.item {
		background-size: cover;
	}
	.slick-list {
		height: 590px;
	}
}

.slick-dots {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    position: absolute;
	bottom: 0;
	left: 35%;

	li{
		display:flex;
		align-items: center;
		justify-content: space-around;
		margin-left:5px;
		&:first-child{
			margin-left:0px;
		}
		&.slick-active,&:hover{
			button{
				opacity: 1;
			}
		}
		button{
			border:none;
			width: 10px;
			padding:0;
			background: #fff;
			opacity: 0.5;
			border-radius: 20px;
			height: 10px;
			text-indent:-9999px;
			transition: opacity 0.2s ease-in-out;
			
		}
	}
}

/* Transitions */
.activate {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1 * 100);
  filter: alpha(opacity=1 * 100);
}
.animated {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0 * 100);
  filter: alpha(opacity=0 * 100);
}


@include respond-below(xs) {
  .ct-header {
		padding-left:10px;
		padding-right:15px;
		max-height: 450px;
		
		.ct-slick {
				margin-bottom: 0;
		}
		&__text-wrap{
			
			padding: 20px 45px 20px 30px ;
			background: $blue-ex;
		}
		h2{
			font-size:25px;
			line-height: 35px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}

	.slick-dots{
		top: 150px;
    bottom: unset;
    left: 41.2%;
	}
}